/MusicCaps/
/MusicCaps/*

/PQMD/
/PQMD/*

/SQAM/
/SQAM/*

/Metadata/
/Metadata/*

/IMAGENES EJEMPLO/
/IMAGENES EJEMPLO/*

# /TEST/
# /TEST/*

/ENTREGAR DATOS/
/ENTREGAR DATOS/*

/MODELOS/
/MODELOS/*

Descargar musiquita.py

random_noise.pt