/MusicCaps/
/MusicCaps/*

# /PQMD/
# /PQMD/*

/SQAM/
/SQAM/*

/Metadata/
/Metadata/*

/IMAGENES EJEMPLO/
/IMAGENES EJEMPLO/*

# /TEST/
# /TEST/*

/ENTREGAR DATOS/
/ENTREGAR DATOS/*

/MODELOS/
/MODELOS/*

/ERASE ME/
/ERASE ME/*

# /DEF MODELS/
# /DEF MODELS/*

Descargar musiquita.py

random_noise.pt